﻿@model dtDesk.CompositeUI.Web.Controllers.DashboardInfoViewModel

@{
    ViewBag.Title = "Dahsboard";
}

<p>Number of closed tickets: @Model.NumberOfClosedTickets</p>
<p>Number of open tickets: @Model.NumberOfOpenTickets</p>
<p>Number of my tickets: @Model.NumberOfTicketsAreBeingWorkedOnByCurrentUser</p>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model.RecentTickets)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
        </tr>
    }
</table>
