﻿@model dtDesk.CompositeUI.Web.Controllers.UserViewModel
@{
    ViewBag.Title = "Index";
}
<p>@Html.ActionLink("Dashboard", "Dashboard")</p>
<h2>Index</h2>
<h3>@Model.UserId</h3>
<h3>@Model.FullName</h3>

